@font-face {
    font-family: 'Janna LT';
    src: url('../assets/Janna\ LT\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.backgroundStyle {
    background-color: rgb(0, 0, 0);
    background-image: url('../assets/images/logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 20%  30%;
    color: aliceblue;
    padding-top: 10px;
}
.textStyleHeader{
    font-size: '100px' !important;
    font-family: 'Janna LT'!important;
    font-weight: '700' !important;
    font-family: 'Janna LT ' !important;
    text-align: center;
}